{% extends 'base.html.twig' %}

{% block title %}
  Add Comment to the micropost {{ micropost.title }}
{% endblock %}
{% block bread %}
  → Add Comment
{% endblock %}
{% block body %}
  {% include 'micro_post/__micropost.html.twig' %}
  <div class="max-w-xl mx-auto p-4 mt-10 bg-white rounded shadow">{{ form(form) }}</div>
{% endblock %}
