{% extends 'base.html.twig' %}

{% block title %}
  Your Profile
{% endblock %}
{% block bread %}
  → Your Profile
{% endblock %}
{% block body %}
  <div class="max-w-xl mx-auto p-4 mt-10 bg-white rounded shadow">{{ form(form) }}</div>
{% endblock %}
